{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react", "prettier/flowtype"],
  "plugins": ["prettier", "flowtype", "react-hooks"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/destructuring-assignment": [
      0,
      "error",
      { "ignoreClassFields": true }
    ],
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "no-unused-vars": "off",
    "spaced-comment": "off",
    "no-confusing-arrow": 0,
    "no-unused-expressions": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "no-underscore-dangle": "off",
    "no-invalid-regexp": "off",
    "import/prefer-default-export": "off",
    "react/no-array-index-key": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
